
.DS_Store

modizer/.DS_Store

modizer/tapkulib/TapkuLibrary.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/xcschememanagement.plist

modizer/tapkulib/TapkuLibrary.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/TapkuLibrary.xcscheme

modizer/modizer.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/xcschememanagement.plist

modizer/modizer.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/modizer.xcscheme

modizer/modizer.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

libsidplayfp-0.2.0/sidplayfp/sidplayfp.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/xcschememanagement.plist

libtim/libtim.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/libtim.xcscheme

libtim/libtim.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/xcschememanagement.plist

modizer/modizer.xcodeproj/project.xcworkspace/xcuserdata/sappharad.xcuserdatad/UserInterfaceState.xcuserstate

libmodplug/libmodplug.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/xcschememanagement.plist

libsidplay1/libsidplay1.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/libsidplay1.xcscheme

libsidplay1/libsidplay1.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/xcschememanagement.plist

libsidplayfp-0.2.0/sidplayfp/sidplayfp.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/sidplayfp.xcscheme

libmodplug/libmodplug.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/libmodplug.xcscheme

modizer/tapkulib/TapkuLibrary.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/LogicTests.xcscheme

libgsf/libgsf/libgsf.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/xcschememanagement.plist

libgsf/libgsf/libgsf.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/libgsf.xcscheme

libGME/libgme.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/libgme.xcscheme

File_Extractor-1.0.0/libFileExtractor/libFileExtractor.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/xcschememanagement.plist

File_Extractor-1.0.0/libFileExtractor/libFileExtractor.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/libFileExtractor.xcscheme

dumb/dumb.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/dumb.xcscheme

dumb/dumb.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/xcschememanagement.plist

libGME/libgme.xcodeproj/xcuserdata/sappharad.xcuserdatad/xcschemes/xcschememanagement.plist
