# Mac OSX files
.DS_Store
# Xcode userdata
*xcuserdata*
# vim swap file
.*.swp
#Resources
# libs
*.a
# certificates
*.p12

#Xcode files
#*.xcuserstate
#*.xcscheme

#temp data / database creation
*.xcbkptlist

#DB resources

Resources/DB/ASMA/Asma.txt
Resources/DB/database.modizerdb
Resources/DB/databaseMAIN.modizerdb

# ASMA svn repo
Resources/DB/ASMA/trunk
Resources/DB/ASMA/trunk/*
Resources/DB/ASMA/stilconverted_asma
Resources/DB/database.modizerdb
Resources/DB/ASMA/Asma.txt
