# Mac OSX files
.DS_Store
# Xcode userdata
*xcuserdata*
# vim swap file
.*.swp
#Resources
modizer/Resources/DB/databaseMAIN.modizerdb

*.xcuserstate

*.xcscheme

*.xcscheme

modizer/modizer.xcodeproj/project.xcworkspace/xcuserdata/ymagnien.xcuserdatad/UserInterfaceState.xcuserstate

modizer/modizer.xcodeproj/xcuserdata/ymagnien.xcuserdatad/xcschemes/modizer.xcscheme
