<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>MOD File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.mod</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>Archive file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>MDX File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.mdx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>PMD File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.pmd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>SID File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.sid</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>STSOUND File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.stsound</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>SC68 File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.sc68</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>Atarisound File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.atarisound</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>ASAP File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.asap</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>VGM File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.vgm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>PT3 File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.pt3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>EUPPHONY File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.eup</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>PxTone File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.pxtone</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>Organya File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.organya</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>GME File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.gme</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>NSF File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.nsf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>V2M File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.v2m</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>MSX File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.msx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>AMIGA File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.amiga</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>HVL File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.hvl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>ADLIB File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.adlib</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>xSF File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.xsf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>VGMSTREAM File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.vgmstream</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeName</key>
			<string>MIDI File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.midi</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
	</array>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string></string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.yoyofr.modizer</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Modizer</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>UpheavalPro.ttf</string>
		<string>FontAwesome.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UISupportsTrueScreenSizeOnMac</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MOD file</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>AppStore512.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.mod</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>FT</string>
					<string>MOD</string>
					<string>MO3</string>
					<string>S3M</string>
					<string>XM</string>
					<string>MTM</string>
					<string>IT</string>
					<string>669</string>
					<string>ULT</string>
					<string>STM</string>
					<string>FAR</string>
					<string>WAV</string>
					<string>AMF</string>
					<string>AMS</string>
					<string>DSM</string>
					<string>MDL</string>
					<string>OKT</string>
					<string>DMF</string>
					<string>PTM</string>
					<string>DBM</string>
					<string>MT2</string>
					<string>AMF0</string>
					<string>PSM</string>
					<string>J2B</string>
					<string>ABC</string>
					<string>PAT</string>
					<string>UMX</string>
					<string>GDM</string>
					<string>XPK</string>
					<string>PPM</string>
					<string>MMCMP</string>
					<string>MPTM</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Archive file</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>7z</string>
					<string>gz</string>
					<string>zip</string>
					<string>rar</string>
					<string>rsn</string>
					<string>lzh</string>
					<string>lha</string>
					<string>pax</string>
					<string>tar</string>
					<string>cpio</string>
					<string>iso</string>
					<string>mtree</string>
					<string>ar</string>
					<string>xar</string>
					<string>cab</string>
					<string>warc</string>
					<string>bz2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MDX File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.mdx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mdx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>V2M File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.v2m</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>v2m</string>
					<string>v2mz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PMD File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.pmd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>m</string>
					<string>m2</string>
					<string>mz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SID File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.sid</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sid</string>
					<string>str</string>
					<string>mus</string>
					<string>c64</string>
					<string>prg</string>
					<string>p00</string>
					<string>rsid</string>
					<string>psid</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>STSOUND File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.stsound</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ym</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SC68 File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.sc68</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sc68</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Atarisound File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.atarisound</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sndh</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ASAP File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.asap</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sap</string>
					<string>cmc</string>
					<string>cm3</string>
					<string>cmr</string>
					<string>cms</string>
					<string>dmc</string>
					<string>dlt</string>
					<string>mpt</string>
					<string>mpd</string>
					<string>rmt</string>
					<string>tmc</string>
					<string>tm8</string>
					<string>tm2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VGM File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.vgm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gym</string>
					<string>s98</string>
					<string>vgm</string>
					<string>vgz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PT3 File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.pt3</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pt3</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>EUPHONY File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.eup</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>eup</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PxTone File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.pxtone</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ptcop</string>
					<string>pttune</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Organya File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.organya</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>org</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GME File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.gme</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ay</string>
					<string>gbs</string>
					<string>gym</string>
					<string>hes</string>
					<string>sfm</string>
					<string>sgc</string>
					<string>spc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NSF File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.nsf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nsf</string>
					<string>nsfe</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MSX File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.msx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kss</string>
					<string>mgs</string>
					<string>opx</string>
					<string>mpk</string>
					<string>mbm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HVL File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.hvl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ahx</string>
					<string>hvl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AMIGA File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.amiga</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>AST</string>
					<string>THX</string>
					<string>ADPCM</string>
					<string>AMC</string>
					<string>ABK</string>
					<string>AAM</string>
					<string>ALP</string>
					<string>AON</string>
					<string>AON4</string>
					<string>AON8</string>
					<string>ADSC</string>
					<string>MOD_ADSC4</string>
					<string>BSS</string>
					<string>BD</string>
					<string>BDS</string>
					<string>UDS</string>
					<string>KRIS</string>
					<string>CIN</string>
					<string>CORE</string>
					<string>CUS</string>
					<string>CUST</string>
					<string>CUSTOM</string>
					<string>CM</string>
					<string>RK</string>
					<string>RKB</string>
					<string>DZ</string>
					<string>MKIIO</string>
					<string>DL</string>
					<string>DL_DELI</string>
					<string>DLN</string>
					<string>DH</string>
					<string>DW</string>
					<string>DWOLD</string>
					<string>DLM2</string>
					<string>DM2</string>
					<string>DLM1</string>
					<string>DM1</string>
					<string>DSR</string>
					<string>DB</string>
					<string>DIGI</string>
					<string>DSC</string>
					<string>DSS</string>
					<string>DNS</string>
					<string>EMS</string>
					<string>EMSV6</string>
					<string>EX</string>
					<string>FC13</string>
					<string>FC3</string>
					<string>FC</string>
					<string>FC14</string>
					<string>FC4</string>
					<string>FRED</string>
					<string>GRAY</string>
					<string>BFC</string>
					<string>BSI</string>
					<string>FC-BSI</string>
					<string>FP</string>
					<string>FW</string>
					<string>GLUE</string>
					<string>GM</string>
					<string>EA</string>
					<string>MG</string>
					<string>HD</string>
					<string>HIPC</string>
					<string>SOC</string>
					<string>EMOD</string>
					<string>QC</string>
					<string>IMS</string>
					<string>DUM</string>
					<string>IS</string>
					<string>IS20</string>
					<string>JAM</string>
					<string>JC</string>
					<string>JMF</string>
					<string>JCB</string>
					<string>JCBO</string>
					<string>JPN</string>
					<string>JPND</string>
					<string>JP</string>
					<string>JT</string>
					<string>MON_OLD</string>
					<string>JO</string>
					<string>HIP</string>
					<string>MCMD</string>
					<string>SOG</string>
					<string>HIP7</string>
					<string>S7G</string>
					<string>HST</string>
					<string>KH</string>
					<string>POWT</string>
					<string>PT</string>
					<string>LME</string>
					<string>MON</string>
					<string>MFP</string>
					<string>HN</string>
					<string>MTP2</string>
					<string>THN</string>
					<string>MC</string>
					<string>MCR</string>
					<string>MCO</string>
					<string>MK2</string>
					<string>MKII</string>
					<string>AVP</string>
					<string>MW</string>
					<string>MAX</string>
					<string>MCMD_ORG</string>
					<string>MED</string>
					<string>MMD0</string>
					<string>MMD1</string>
					<string>MMD2</string>
					<string>MSO</string>
					<string>MD</string>
					<string>MMDC</string>
					<string>DMU</string>
					<string>MUG</string>
					<string>DMU2</string>
					<string>MUG2</string>
					<string>MA</string>
					<string>MM4</string>
					<string>MM8</string>
					<string>MMS</string>
					<string>NTP</string>
					<string>TWO</string>
					<string>OCTAMED</string>
					<string>OKT</string>
					<string>ONE</string>
					<string>DAT</string>
					<string>PS</string>
					<string>SNK</string>
					<string>PVP</string>
					<string>PAP</string>
					<string>PSA</string>
					<string>MOD_DOC</string>
					<string>MOD15</string>
					<string>MOD15_MST</string>
					<string>MOD_NTK</string>
					<string>MOD_NTK1</string>
					<string>MOD_NTK2</string>
					<string>MOD_NTKAMP</string>
					<string>MOD_FLT4</string>
					<string>MOD</string>
					<string>MOD_COMP</string>
					<string>!PM!</string>
					<string>40A</string>
					<string>40B</string>
					<string>41A</string>
					<string>50A</string>
					<string>60A</string>
					<string>61A</string>
					<string>AC1</string>
					<string>AC1D</string>
					<string>AVAL</string>
					<string>CHAN</string>
					<string>CP</string>
					<string>CPLX</string>
					<string>CRB</string>
					<string>DI</string>
					<string>EU</string>
					<string>FC-M</string>
					<string>FCM</string>
					<string>FT</string>
					<string>FUZ</string>
					<string>FUZZ</string>
					<string>GMC</string>
					<string>GV</string>
					<string>HMC</string>
					<string>HRT</string>
					<string>HRT!</string>
					<string>ICE</string>
					<string>IT1</string>
					<string>KEF</string>
					<string>KEF7</string>
					<string>KRS</string>
					<string>KSM</string>
					<string>LAX</string>
					<string>MEXXMP</string>
					<string>MPRO</string>
					<string>NP</string>
					<string>NP1</string>
					<string>NP2</string>
					<string>NOISEPACKER2</string>
					<string>NP3</string>
					<string>NOISEPACKER3</string>
					<string>NR</string>
					<string>NRU</string>
					<string>NTPK</string>
					<string>P10</string>
					<string>P21</string>
					<string>P30</string>
					<string>P40A</string>
					<string>P40B</string>
					<string>P41A</string>
					<string>P4X</string>
					<string>P50A</string>
					<string>P5A</string>
					<string>P5X</string>
					<string>P60</string>
					<string>P60A</string>
					<string>P61</string>
					<string>P61A</string>
					<string>P6X</string>
					<string>PHA</string>
					<string>PIN</string>
					<string>PM</string>
					<string>PM0</string>
					<string>PM01</string>
					<string>PM1</string>
					<string>PM10C</string>
					<string>PM18A</string>
					<string>PM2</string>
					<string>PM20</string>
					<string>PM4</string>
					<string>PM40</string>
					<string>PMZ</string>
					<string>POLK</string>
					<string>PP10</string>
					<string>PP20</string>
					<string>PP21</string>
					<string>PP30</string>
					<string>PPK</string>
					<string>PR1</string>
					<string>PR2</string>
					<string>PROM</string>
					<string>PRU</string>
					<string>PRU1</string>
					<string>PRU2</string>
					<string>PRUN</string>
					<string>PRUN1</string>
					<string>PRUN2</string>
					<string>PWR</string>
					<string>PYG</string>
					<string>PYGM</string>
					<string>PYGMY</string>
					<string>SKT</string>
					<string>SKYT</string>
					<string>SNT</string>
					<string>SNT!</string>
					<string>ST2</string>
					<string>ST26</string>
					<string>ST30</string>
					<string>STAR</string>
					<string>STPK</string>
					<string>TP</string>
					<string>TP1</string>
					<string>TP2</string>
					<string>TP3</string>
					<string>UN2</string>
					<string>UNIC</string>
					<string>UNIC2</string>
					<string>WN</string>
					<string>XAN</string>
					<string>XANN</string>
					<string>ZEN</string>
					<string>PUMA</string>
					<string>RJP</string>
					<string>SNG</string>
					<string>RIFF</string>
					<string>RH</string>
					<string>RHO</string>
					<string>SA-P</string>
					<string>SCUMM</string>
					<string>S-C</string>
					<string>SCN</string>
					<string>SCR</string>
					<string>SID</string>
					<string>SID1</string>
					<string>SMN</string>
					<string>SID2</string>
					<string>MOK</string>
					<string>SA</string>
					<string>SONIC</string>
					<string>SA_OLD</string>
					<string>SMUS</string>
					<string>SNX</string>
					<string>TINY</string>
					<string>SPL</string>
					<string>SC</string>
					<string>SCT</string>
					<string>SFX</string>
					<string>SFX13</string>
					<string>TW</string>
					<string>SM</string>
					<string>SM1</string>
					<string>SM2</string>
					<string>SM3</string>
					<string>SMPRO</string>
					<string>BP</string>
					<string>SNDMON</string>
					<string>BP3</string>
					<string>SJS</string>
					<string>JD</string>
					<string>DODA</string>
					<string>SAS</string>
					<string>SS</string>
					<string>SB</string>
					<string>JPO</string>
					<string>JPOLD</string>
					<string>SUN</string>
					<string>SYN</string>
					<string>SDR</string>
					<string>OSP</string>
					<string>ST</string>
					<string>SYNMOD</string>
					<string>TFMX1.5</string>
					<string>TFHD1.5</string>
					<string>TFMX7V</string>
					<string>TFHD7V</string>
					<string>MDAT</string>
					<string>TFMXPRO</string>
					<string>TFHDPRO</string>
					<string>TFMX</string>
					<string>MDST</string>
					<string>THM</string>
					<string>TF</string>
					<string>TME</string>
					<string>SG</string>
					<string>DP</string>
					<string>TRC</string>
					<string>TRO</string>
					<string>TRONIC</string>
					<string>MOD15_UST</string>
					<string>VSS</string>
					<string>WB</string>
					<string>ML</string>
					<string>MOD15_ST-IV</string>
					<string>AGI</string>
					<string>TPU</string>
					<string>QPA</string>
					<string>SQT</string>
					<string>QTS</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ADLIB File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.adlib</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>A2M</string>
					<string>ADL</string>
					<string>ADLIB</string>
					<string>AGD</string>
					<string>AMD</string>
					<string>AS3M</string>
					<string>BAM</string>
					<string>BMF</string>
					<string>CFF</string>
					<string>CMF</string>
					<string>D00</string>
					<string>DFM</string>
					<string>DM0</string>
					<string>DMO</string>
					<string>DR0</string>
					<string>DRO</string>
					<string>DTM</string>
					<string>GOT</string>
					<string>HA2</string>
					<string>HSC</string>
					<string>HSP</string>
					<string>HSQ</string>
					<string>IMF</string>
					<string>IMS</string>
					<string>JBM</string>
					<string>KSM</string>
					<string>LAA</string>
					<string>LDS</string>
					<string>M</string>
					<string>MAD</string>
					<string>MDI</string>
					<string>MKJ</string>
					<string>MSC</string>
					<string>MTK</string>
					<string>MUS</string>
					<string>RAC</string>
					<string>RAD</string>
					<string>RAW</string>
					<string>RIX</string>
					<string>ROL</string>
					<string>S3M</string>
					<string>SA2</string>
					<string>SAT</string>
					<string>SCI</string>
					<string>SDB</string>
					<string>SNG</string>
					<string>SOP</string>
					<string>SQX</string>
					<string>XAD</string>
					<string>XMS</string>
					<string>XSM</string>
					<string>WLF</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VGMSTREAM File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.vgmstream</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>04SW</string>
					<string>208</string>
					<string>2DX9</string>
					<string>2PSF</string>
					<string>3DO</string>
					<string>4</string>
					<string>800</string>
					<string>9TAV</string>
					<string>ADPCM</string>
					<string>AAC</string>
					<string>AAX</string>
					<string>ABK</string>
					<string>ACB</string>
					<string>ACM</string>
					<string>ACX</string>
					<string>ADM</string>
					<string>ADP</string>
					<string>ADPCM</string>
					<string>ADPCMX</string>
					<string>ADS</string>
					<string>ADW</string>
					<string>ADX</string>
					<string>AFC</string>
					<string>AFS2</string>
					<string>AGSC</string>
					<string>AHV</string>
					<string>AI</string>
					<string>AIF</string>
					<string>AIF-LOOP</string>
					<string>AIFC</string>
					<string>AIFCL</string>
					<string>AIFF</string>
					<string>AIFFL</string>
					<string>AIX</string>
					<string>AKB</string>
					<string>AL</string>
					<string>AL2</string>
					<string>AMTS</string>
					<string>AO</string>
					<string>AP</string>
					<string>APC</string>
					<string>AS4</string>
					<string>ASD</string>
					<string>ASF</string>
					<string>ASR</string>
					<string>ASS</string>
					<string>AST</string>
					<string>AT3</string>
					<string>AT9</string>
					<string>ATSL</string>
					<string>ATSL3</string>
					<string>ATSL4</string>
					<string>ATX</string>
					<string>AUD</string>
					<string>AUS</string>
					<string>AWB</string>
					<string>AWC</string>
					<string>B1S</string>
					<string>BAF</string>
					<string>BAKA</string>
					<string>BANK</string>
					<string>BAO</string>
					<string>BAR</string>
					<string>BCSTM</string>
					<string>BCWAV</string>
					<string>BD3</string>
					<string>BDSP</string>
					<string>BFSTM</string>
					<string>BFWAV</string>
					<string>BFWAVNSMBU</string>
					<string>BG00</string>
					<string>BGM</string>
					<string>BGW</string>
					<string>BH2PCM</string>
					<string>BIK</string>
					<string>BIK2</string>
					<string>BIKA</string>
					<string>BIN</string>
					<string>BK2</string>
					<string>BLK</string>
					<string>BMDX</string>
					<string>BMS</string>
					<string>BNK</string>
					<string>BNM</string>
					<string>BNS</string>
					<string>BNSF</string>
					<string>BO2</string>
					<string>BRSTM</string>
					<string>BRSTMSPM</string>
					<string>BSF</string>
					<string>BSND</string>
					<string>BTSND</string>
					<string>BVG</string>
					<string>BWAV</string>
					<string>BYTES</string>
					<string>CAF</string>
					<string>CAPDSP</string>
					<string>CBD2</string>
					<string>CCC</string>
					<string>CD</string>
					<string>CFN</string>
					<string>CHK</string>
					<string>CKB</string>
					<string>CKD</string>
					<string>CKS</string>
					<string>CNK</string>
					<string>CPK</string>
					<string>CPS</string>
					<string>CSB</string>
					<string>CSMP</string>
					<string>CTRL</string>
					<string>CVS</string>
					<string>CWAV</string>
					<string>CXS</string>
					<string>DA</string>
					<string>DAT</string>
					<string>DATA</string>
					<string>DAX</string>
					<string>DBM</string>
					<string>DCS</string>
					<string>DCT</string>
					<string>DDSP</string>
					<string>DE2</string>
					<string>DEC</string>
					<string>DIVA</string>
					<string>DMSG</string>
					<string>DS2</string>
					<string>DSB</string>
					<string>DSP</string>
					<string>DSPW</string>
					<string>DTK</string>
					<string>DVI</string>
					<string>DXH</string>
					<string>E4X</string>
					<string>EAM</string>
					<string>EAS</string>
					<string>EMFF</string>
					<string>ENM</string>
					<string>ENO</string>
					<string>ENS</string>
					<string>EXA</string>
					<string>EZW</string>
					<string>FAG</string>
					<string>FDA</string>
					<string>FFW</string>
					<string>FILP</string>
					<string>FLX</string>
					<string>FSB</string>
					<string>FSV</string>
					<string>FWAV</string>
					<string>FWSE</string>
					<string>G1L</string>
					<string>GBTS</string>
					<string>GCA</string>
					<string>GCM</string>
					<string>GCUB</string>
					<string>GCW</string>
					<string>GENH</string>
					<string>GIN</string>
					<string>GMS</string>
					<string>GSB</string>
					<string>GTD</string>
					<string>GWM</string>
					<string>H4M</string>
					<string>HAB</string>
					<string>HCA</string>
					<string>HDR</string>
					<string>HGC1</string>
					<string>HIS</string>
					<string>HPS</string>
					<string>HSF</string>
					<string>HWAS</string>
					<string>HX2</string>
					<string>HX3</string>
					<string>HXC</string>
					<string>HXD</string>
					<string>HXG</string>
					<string>HXX</string>
					<string>IAB</string>
					<string>IADP</string>
					<string>IDMSF</string>
					<string>IDSP</string>
					<string>IDVI</string>
					<string>IDWAV</string>
					<string>IDXMA</string>
					<string>IFS</string>
					<string>IKM</string>
					<string>ILD</string>
					<string>IMA</string>
					<string>IMC</string>
					<string>IMX</string>
					<string>INT</string>
					<string>IS14</string>
					<string>ISB</string>
					<string>ISD</string>
					<string>ISWS</string>
					<string>ITL</string>
					<string>IVAG</string>
					<string>IVAUD</string>
					<string>IVB</string>
					<string>JOE</string>
					<string>JSTM</string>
					<string>KAT</string>
					<string>KCES</string>
					<string>KCEY</string>
					<string>KM9</string>
					<string>KNS</string>
					<string>KOVS</string>
					<string>KRAW</string>
					<string>KTAC</string>
					<string>KTSL2ASBIN</string>
					<string>KTSS</string>
					<string>KVS</string>
					<string>L</string>
					<string>LAAC</string>
					<string>LAIF</string>
					<string>LAIFC</string>
					<string>LAIFF</string>
					<string>LASF</string>
					<string>LBIN</string>
					<string>LEG</string>
					<string>LEP</string>
					<string>LIN</string>
					<string>LM0</string>
					<string>LM1</string>
					<string>LM2</string>
					<string>LM3</string>
					<string>LM4</string>
					<string>LM5</string>
					<string>LM6</string>
					<string>LM7</string>
					<string>LMP3</string>
					<string>LMP4</string>
					<string>LOGG</string>
					<string>LOPUS</string>
					<string>LP</string>
					<string>LPCM</string>
					<string>LPK</string>
					<string>LPS</string>
					<string>LRMB</string>
					<string>LSE</string>
					<string>LSF</string>
					<string>LSTM</string>
					<string>LWAV</string>
					<string>M4A</string>
					<string>M4V</string>
					<string>MAB</string>
					<string>MAD</string>
					<string>MAP</string>
					<string>MATX</string>
					<string>MC3</string>
					<string>MCA</string>
					<string>MCADPCM</string>
					<string>MCG</string>
					<string>MDS</string>
					<string>MDSP</string>
					<string>MED</string>
					<string>MI4</string>
					<string>MIB</string>
					<string>MIC</string>
					<string>MIHB</string>
					<string>MJB</string>
					<string>MNSTR</string>
					<string>MOGG</string>
					<string>MP3</string>
					<string>MP4</string>
					<string>MPDSP</string>
					<string>MPF</string>
					<string>MS</string>
					<string>MSA</string>
					<string>MSADPCM</string>
					<string>MSB</string>
					<string>MSD</string>
					<string>MSF</string>
					<string>MSS</string>
					<string>MSV</string>
					<string>MSVP</string>
					<string>MTA2</string>
					<string>MTAF</string>
					<string>MUL</string>
					<string>MUPS</string>
					<string>MUS</string>
					<string>MUSC</string>
					<string>MUSX</string>
					<string>MWV</string>
					<string>MXST</string>
					<string>MYSPD</string>
					<string>N64</string>
					<string>NAAC</string>
					<string>NDP</string>
					<string>NDS</string>
					<string>NGCA</string>
					<string>NLSD</string>
					<string>NOP</string>
					<string>NPS</string>
					<string>NPSF</string>
					<string>NSOPUS</string>
					<string>NUB</string>
					<string>NUB2</string>
					<string>NUS3AUDIO</string>
					<string>NUS3BANK</string>
					<string>NWA</string>
					<string>NWAV</string>
					<string>NXA</string>
					<string>OGG</string>
					<string>OGL</string>
					<string>OMU</string>
					<string>OPUS</string>
					<string>OPUSX</string>
					<string>OTM</string>
					<string>OVB</string>
					<string>P2BT</string>
					<string>P3D</string>
					<string>PAST</string>
					<string>PCM</string>
					<string>PDT</string>
					<string>PFLT</string>
					<string>PK</string>
					<string>PNB</string>
					<string>PONA</string>
					<string>POS</string>
					<string>PS2STM</string>
					<string>PSH</string>
					<string>PSND</string>
					<string>PSW</string>
					<string>PXA</string>
					<string>R</string>
					<string>RAD</string>
					<string>RAK</string>
					<string>RAS</string>
					<string>RAW</string>
					<string>RKV</string>
					<string>RND</string>
					<string>ROF</string>
					<string>RPGMVO</string>
					<string>RRDS</string>
					<string>RSD</string>
					<string>RSF</string>
					<string>RSM</string>
					<string>RSP</string>
					<string>RSTM</string>
					<string>RWAR</string>
					<string>RWAV</string>
					<string>RWS</string>
					<string>RWSD</string>
					<string>RWX</string>
					<string>RXW</string>
					<string>S14</string>
					<string>SAB</string>
					<string>SAD</string>
					<string>SAF</string>
					<string>SB0</string>
					<string>SB1</string>
					<string>SB2</string>
					<string>SB3</string>
					<string>SB4</string>
					<string>SB5</string>
					<string>SB6</string>
					<string>SB7</string>
					<string>SBIN</string>
					<string>SBK</string>
					<string>SBR</string>
					<string>SBV</string>
					<string>SC</string>
					<string>SCD</string>
					<string>SCH</string>
					<string>SD9</string>
					<string>SDF</string>
					<string>SDT</string>
					<string>SEB</string>
					<string>SED</string>
					<string>SEG</string>
					<string>SF0</string>
					<string>SFL</string>
					<string>SFS</string>
					<string>SFX</string>
					<string>SGB</string>
					<string>SGD</string>
					<string>SGX</string>
					<string>SL3</string>
					<string>SLI</string>
					<string>SM0</string>
					<string>SM1</string>
					<string>SM2</string>
					<string>SM3</string>
					<string>SM4</string>
					<string>SM5</string>
					<string>SM6</string>
					<string>SM7</string>
					<string>SMC</string>
					<string>SMK</string>
					<string>SMP</string>
					<string>SMPL</string>
					<string>SMV</string>
					<string>SND</string>
					<string>SNDS</string>
					<string>SNG</string>
					<string>SNGW</string>
					<string>SNR</string>
					<string>SNS</string>
					<string>SNU</string>
					<string>SOD</string>
					<string>SON</string>
					<string>SPD</string>
					<string>SPK</string>
					<string>SPM</string>
					<string>SPS</string>
					<string>SPSD</string>
					<string>SPW</string>
					<string>SS2</string>
					<string>SSM</string>
					<string>SSS</string>
					<string>STER</string>
					<string>STM</string>
					<string>STMA</string>
					<string>STR</string>
					<string>STREAM</string>
					<string>STRM</string>
					<string>STS</string>
					<string>STX</string>
					<string>SVAG</string>
					<string>SVG</string>
					<string>SVS</string>
					<string>SWAG</string>
					<string>SWAV</string>
					<string>SWD</string>
					<string>SWITCH_AUDIO</string>
					<string>SX</string>
					<string>SXD</string>
					<string>SXD2</string>
					<string>SXD3</string>
					<string>TEC</string>
					<string>TGQ</string>
					<string>TGV</string>
					<string>THP</string>
					<string>TK5</string>
					<string>TMX</string>
					<string>TRA</string>
					<string>TUN</string>
					<string>TXTH</string>
					<string>TXTP</string>
					<string>TYDSP</string>
					<string>UE4OPUS</string>
					<string>ULW</string>
					<string>UM3</string>
					<string>UTK</string>
					<string>UV</string>
					<string>V0</string>
					<string>V1</string>
					<string>VA3</string>
					<string>VAG</string>
					<string>VAI</string>
					<string>VAS</string>
					<string>VAWX</string>
					<string>VB</string>
					<string>VBK</string>
					<string>VDM</string>
					<string>VDS</string>
					<string>VGS</string>
					<string>VGV</string>
					<string>VID</string>
					<string>VIG</string>
					<string>VIS</string>
					<string>VMS</string>
					<string>VOI</string>
					<string>VP6</string>
					<string>VPK</string>
					<string>VS</string>
					<string>VSF</string>
					<string>VSV</string>
					<string>VXN</string>
					<string>WAA</string>
					<string>WAC</string>
					<string>WAD</string>
					<string>WAF</string>
					<string>WAM</string>
					<string>WAS</string>
					<string>WAV</string>
					<string>WAVC</string>
					<string>WAVE</string>
					<string>WAVEBATCH</string>
					<string>WAVM</string>
					<string>WAY</string>
					<string>WB</string>
					<string>WB2</string>
					<string>WBD</string>
					<string>WD</string>
					<string>WEM</string>
					<string>WII</string>
					<string>WMA</string>
					<string>WMUS</string>
					<string>WP2</string>
					<string>WPD</string>
					<string>WSD</string>
					<string>WSI</string>
					<string>WUA</string>
					<string>WV2</string>
					<string>WV6</string>
					<string>WVE</string>
					<string>WVS</string>
					<string>WVX</string>
					<string>X</string>
					<string>XA</string>
					<string>XA2</string>
					<string>XA30</string>
					<string>XAG</string>
					<string>XAU</string>
					<string>XAV</string>
					<string>XEN</string>
					<string>XMA</string>
					<string>XMA2</string>
					<string>XMD</string>
					<string>XMU</string>
					<string>XNA</string>
					<string>XNB</string>
					<string>XOPUS</string>
					<string>XPS</string>
					<string>XSE</string>
					<string>XSEW</string>
					<string>XSF</string>
					<string>XSS</string>
					<string>XVAG</string>
					<string>XVAS</string>
					<string>XWAV</string>
					<string>XWB</string>
					<string>XWC</string>
					<string>XWM</string>
					<string>XWMA</string>
					<string>XWS</string>
					<string>XWV</string>
					<string>YDSP</string>
					<string>YMF</string>
					<string>ZIC</string>
					<string>ZSD</string>
					<string>ZSM</string>
					<string>ZSS</string>
					<string>ZWDSP</string>
					<string>ZWV</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XSF File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.xsf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>psf</string>
					<string>minipsf</string>
					<string>psf2</string>
					<string>minipsf2</string>
					<string>spu</string>
					<string>minispu</string>
					<string>dsf</string>
					<string>minidsf</string>
					<string>qsf</string>
					<string>miniqsf</string>
					<string>ssf</string>
					<string>minissf</string>
					<string>gsf</string>
					<string>minigsf</string>
					<string>2sf</string>
					<string>mini2sf</string>
					<string>ncsf</string>
					<string>minincsf</string>
					<string>snsf</string>
					<string>minisnsf</string>
					<string>usf</string>
					<string>miniusf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MIDI File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.midi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mid</string>
					<string>midi</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
