Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
config.mif
*.lst
libbinio.pc
.deps
.libs
src/binio.h
src/config.h
src/config.h.in
src/*.o
src/*.lo
src/*.la
src/stamp-h1
src/*.dsw
src/*.ncb
src/*.opt
src/*.plg
src/Debug
src/Release
src/*.lib
src/config.bat
src/*.err
doc/mdate-sh
doc/texinfo.tex
doc/*.info*
doc/stamp-vti
doc/version.texi
doc/libbinio.vrs
doc/libbinio.vr
doc/libbinio.tp
doc/libbinio.toc
doc/libbinio.pg
doc/libbinio.log
doc/libbinio.ky
doc/libbinio.fns
doc/libbinio.fn
doc/libbinio.dvi
doc/libbinio.cps
doc/libbinio.cp
doc/libbinio.aux
doc/libbinio.tps
