<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MOD File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>			
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.mod</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Archive file</string>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MDX File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.mdx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PMD File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.pmd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SID File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.sid</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>STSOUND File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.stsound</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SC68 File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.sc68</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ASAP File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.asap</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>VGM File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.vgm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GME File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.gme</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>AMIGA File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.amiga</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>HVL File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.hvl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ADLIB File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.adlib</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>xSF File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.xsf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>VGMSTREAM File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.vgmstream</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MIDI File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AppStore512.png</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yoyofr.modizer.midi</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
	</array>
	<key>CFBundleSignature</key>
	<string></string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIAppFonts</key>
	<array>
		<string>UpheavalPro.ttf</string>
		<string>FontAwesome.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MOD file</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>AppStore512.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.mod</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>FT</string>
					<string>MOD</string>
					<string>MO3</string>
					<string>S3M</string>
					<string>XM</string>
					<string>MTM</string>
					<string>IT</string>
					<string>669</string>
					<string>ULT</string>
					<string>STM</string>
					<string>FAR</string>
					<string>WAV</string>
					<string>AMF</string>
					<string>AMS</string>
					<string>DSM</string>
					<string>MDL</string>
					<string>OKT</string>
					<string>DMF</string>
					<string>PTM</string>
					<string>DBM</string>
					<string>MT2</string>
					<string>AMF0</string>
					<string>PSM</string>
					<string>J2B</string>
					<string>ABC</string>
					<string>PAT</string>
					<string>UMX</string>
					<string>GDM</string>
					<string>XPK</string>
					<string>PPM</string>
					<string>MMCMP</string>
					<string>MPTM</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Archive file</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zip</string>
					<string>7z</string>
					<string>rar</string>
					<string>rsn</string>
					<string>gz</string>
					<string>lzh</string>
					<string>lha</string>					
				</array>
			</dict>
		</dict>		
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MDX File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.mdx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mdx</string>					
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PMD File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.pmd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>m</string>
					<string>m2</string>
					<string>mz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SID File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.sid</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sid</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>STSOUND File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.stsound</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ym</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SC68 File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.sc68</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sc68</string>
					<string>sndh</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ASAP File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.asap</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sap</string>
					<string>cmc</string>
					<string>cm3</string>
					<string>cmr</string>
					<string>cms</string>
					<string>dmc</string>
					<string>dlt</string>
					<string>mpt</string>
					<string>mpd</string>
					<string>rmt</string>
					<string>tmc</string>
					<string>tm8</string>
					<string>tm2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VGM File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.vgm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vgm</string>
					<string>vgz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GME File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.gme</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ay</string>
					<string>gbs</string>
					<string>gym</string>
					<string>hes</string>
					<string>kss</string>
					<string>nsf</string>
					<string>nsfe</string>
					<string>sap</string>
					<string>sfm</string>
					<string>sgc</string>
					<string>spc</string>
					<string>vgm</string>
					<string>vgz</string>					
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HVL File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.hvl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ahx</string>
					<string>hvl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AMIGA File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.amiga</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>AST</string>
					<string>AHX</string>
					<string>THX</string>
					<string>ADPCM</string>
					<string>AMC</string>
					<string>ABK</string>
					<string>AAM</string>
					<string>ALP</string>
					<string>AON</string>
					<string>AON4</string>
					<string>AON8</string>
					<string>ADSC</string>
					<string>MOD_ADSC4</string>
					<string>BSS</string>
					<string>BD</string>
					<string>BDS</string>
					<string>UDS</string>
					<string>KRIS</string>
					<string>CIN</string>
					<string>CORE</string>
					<string>CUS</string>
					<string>CUST</string>
					<string>CUSTOM</string>
					<string>CM</string>
					<string>RK</string>
					<string>RKB</string>
					<string>DZ</string>
					<string>MKIIO</string>
					<string>DL</string>
					<string>DL_DELI</string>
					<string>DLN</string>
					<string>DH</string>
					<string>DW</string>
					<string>DWOLD</string>
					<string>DLM2</string>
					<string>DM2</string>
					<string>DLM1</string>
					<string>DM1</string>
					<string>DSR</string>
					<string>DB</string>
					<string>DIGI</string>
					<string>DSC</string>
					<string>DSS</string>
					<string>DNS</string>
					<string>EMS</string>
					<string>EMSV6</string>
					<string>EX</string>
					<string>FC13</string>
					<string>FC3</string>
					<string>FC</string>
					<string>FC14</string>
					<string>FC4</string>
					<string>FRED</string>
					<string>GRAY</string>
					<string>BFC</string>
					<string>BSI</string>
					<string>FC-BSI</string>
					<string>FP</string>
					<string>FW</string>
					<string>GLUE</string>
					<string>GM</string>
					<string>EA</string>
					<string>MG</string>
					<string>HD</string>
					<string>HIPC</string>
					<string>SOC</string>
					<string>EMOD</string>
					<string>QC</string>
					<string>IMS</string>
					<string>DUM</string>
					<string>IS</string>
					<string>IS20</string>
					<string>JAM</string>
					<string>JC</string>
					<string>JMF</string>
					<string>JCB</string>
					<string>JCBO</string>
					<string>JPN</string>
					<string>JPND</string>
					<string>JP</string>
					<string>JT</string>
					<string>MON_OLD</string>
					<string>JO</string>
					<string>HIP</string>
					<string>MCMD</string>
					<string>SOG</string>
					<string>HIP7</string>
					<string>S7G</string>
					<string>HST</string>
					<string>KH</string>
					<string>POWT</string>
					<string>PT</string>
					<string>LME</string>
					<string>MON</string>
					<string>MFP</string>
					<string>HN</string>
					<string>MTP2</string>
					<string>THN</string>
					<string>MC</string>
					<string>MCR</string>
					<string>MCO</string>
					<string>MK2</string>
					<string>MKII</string>
					<string>AVP</string>
					<string>MW</string>
					<string>MAX</string>
					<string>MCMD_ORG</string>
					<string>MED</string>
					<string>MMD0</string>
					<string>MMD1</string>
					<string>MMD2</string>
					<string>MSO</string>
					<string>MD</string>
					<string>MMDC</string>
					<string>DMU</string>
					<string>MUG</string>
					<string>DMU2</string>
					<string>MUG2</string>
					<string>MA</string>
					<string>MM4</string>
					<string>MM8</string>
					<string>MMS</string>
					<string>NTP</string>
					<string>TWO</string>
					<string>OCTAMED</string>
					<string>OKT</string>
					<string>ONE</string>
					<string>DAT</string>
					<string>PS</string>
					<string>SNK</string>
					<string>PVP</string>
					<string>PAP</string>
					<string>PSA</string>
					<string>MOD_DOC</string>
					<string>MOD15</string>
					<string>MOD15_MST</string>
					<string>MOD_NTK</string>
					<string>MOD_NTK1</string>
					<string>MOD_NTK2</string>
					<string>MOD_NTKAMP</string>
					<string>MOD_FLT4</string>
					<string>MOD</string>
					<string>MOD_COMP</string>
					<string>!PM!</string>
					<string>40A</string>
					<string>40B</string>
					<string>41A</string>
					<string>50A</string>
					<string>60A</string>
					<string>61A</string>
					<string>AC1</string>
					<string>AC1D</string>
					<string>AVAL</string>
					<string>CHAN</string>
					<string>CP</string>
					<string>CPLX</string>
					<string>CRB</string>
					<string>DI</string>
					<string>EU</string>
					<string>FC-M</string>
					<string>FCM</string>
					<string>FT</string>
					<string>FUZ</string>
					<string>FUZZ</string>
					<string>GMC</string>
					<string>GV</string>
					<string>HMC</string>
					<string>HRT</string>
					<string>HRT!</string>
					<string>ICE</string>
					<string>IT1</string>
					<string>KEF</string>
					<string>KEF7</string>
					<string>KRS</string>
					<string>KSM</string>
					<string>LAX</string>
					<string>MEXXMP</string>
					<string>MPRO</string>
					<string>NP</string>
					<string>NP1</string>
					<string>NP2</string>
					<string>NOISEPACKER2</string>
					<string>NP3</string>
					<string>NOISEPACKER3</string>
					<string>NR</string>
					<string>NRU</string>
					<string>NTPK</string>
					<string>P10</string>
					<string>P21</string>
					<string>P30</string>
					<string>P40A</string>
					<string>P40B</string>
					<string>P41A</string>
					<string>P4X</string>
					<string>P50A</string>
					<string>P5A</string>
					<string>P5X</string>
					<string>P60</string>
					<string>P60A</string>
					<string>P61</string>
					<string>P61A</string>
					<string>P6X</string>
					<string>PHA</string>
					<string>PIN</string>
					<string>PM</string>
					<string>PM0</string>
					<string>PM01</string>
					<string>PM1</string>
					<string>PM10C</string>
					<string>PM18A</string>
					<string>PM2</string>
					<string>PM20</string>
					<string>PM4</string>
					<string>PM40</string>
					<string>PMZ</string>
					<string>POLK</string>
					<string>PP10</string>
					<string>PP20</string>
					<string>PP21</string>
					<string>PP30</string>
					<string>PPK</string>
					<string>PR1</string>
					<string>PR2</string>
					<string>PROM</string>
					<string>PRU</string>
					<string>PRU1</string>
					<string>PRU2</string>
					<string>PRUN</string>
					<string>PRUN1</string>
					<string>PRUN2</string>
					<string>PWR</string>
					<string>PYG</string>
					<string>PYGM</string>
					<string>PYGMY</string>
					<string>SKT</string>
					<string>SKYT</string>
					<string>SNT</string>
					<string>SNT!</string>
					<string>ST2</string>
					<string>ST26</string>
					<string>ST30</string>
					<string>STAR</string>
					<string>STPK</string>
					<string>TP</string>
					<string>TP1</string>
					<string>TP2</string>
					<string>TP3</string>
					<string>UN2</string>
					<string>UNIC</string>
					<string>UNIC2</string>
					<string>WN</string>
					<string>XAN</string>
					<string>XANN</string>
					<string>ZEN</string>
					<string>PUMA</string>
					<string>RJP</string>
					<string>SNG</string>
					<string>RIFF</string>
					<string>RH</string>
					<string>RHO</string>
					<string>SA-P</string>
					<string>SCUMM</string>
					<string>S-C</string>
					<string>SCN</string>
					<string>SCR</string>
					<string>SID</string>
					<string>SID1</string>
					<string>SMN</string>
					<string>SID2</string>
					<string>MOK</string>
					<string>SA</string>
					<string>SONIC</string>
					<string>SA_OLD</string>
					<string>SMUS</string>
					<string>SNX</string>
					<string>TINY</string>
					<string>SPL</string>
					<string>SC</string>
					<string>SCT</string>
					<string>PSF</string>
					<string>SFX</string>
					<string>SFX13</string>
					<string>TW</string>
					<string>SM</string>
					<string>SM1</string>
					<string>SM2</string>
					<string>SM3</string>
					<string>SMPRO</string>
					<string>BP</string>
					<string>SNDMON</string>
					<string>BP3</string>
					<string>SJS</string>
					<string>JD</string>
					<string>DODA</string>
					<string>SAS</string>
					<string>SS</string>
					<string>SB</string>
					<string>JPO</string>
					<string>JPOLD</string>
					<string>SUN</string>
					<string>SYN</string>
					<string>SDR</string>
					<string>OSP</string>
					<string>ST</string>
					<string>SYNMOD</string>
					<string>TFMX1.5</string>
					<string>TFHD1.5</string>
					<string>TFMX7V</string>
					<string>TFHD7V</string>
					<string>MDAT</string>
					<string>TFMXPRO</string>
					<string>TFHDPRO</string>
					<string>TFMX</string>
					<string>MDST</string>
					<string>THM</string>
					<string>TF</string>
					<string>TME</string>
					<string>SG</string>
					<string>DP</string>
					<string>TRC</string>
					<string>TRO</string>
					<string>TRONIC</string>
					<string>MOD15_UST</string>
					<string>VSS</string>
					<string>WB</string>
					<string>ML</string>
					<string>MOD15_ST-IV</string>
					<string>AGI</string>
					<string>TPU</string>
					<string>QPA</string>
					<string>SQT</string>
					<string>QTS</string>
				</array>
			</dict>			
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ADLIB File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.adlib</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>A2M</string>
					<string>ADL</string>
					<string>ADLIB</string>
					<string>AGD</string>
					<string>AMD</string>
					<string>AS3M</string>
					<string>BAM</string>
					<string>BMF</string>
					<string>CFF</string>
					<string>CMF</string>
					<string>D00</string>
					<string>DFM</string>
					<string>DM0</string>
					<string>DMO</string>
					<string>DR0</string>
					<string>DRO</string>
					<string>DTM</string>
					<string>GOT</string>
					<string>HA2</string>
					<string>HSC</string>
					<string>HSP</string>
					<string>HSQ</string>
					<string>IMF</string>
					<string>IMS</string>
					<string>JBM</string>
					<string>KSM</string>
					<string>LAA</string>
					<string>LDS</string>
					<string>M</string>
					<string>MAD</string>
					<string>MDI</string>
					<string>MKJ</string>
					<string>MSC</string>
					<string>MTK</string>
					<string>MUS</string>
					<string>RAC</string>
					<string>RAD</string>
					<string>RAW</string>
					<string>RIX</string>
					<string>ROL</string>
					<string>S3M</string>
					<string>SA2</string>
					<string>SAT</string>
					<string>SCI</string>
					<string>SDB</string>
					<string>SNG</string>
					<string>SOP</string>
					<string>SQX</string>
					<string>XAD</string>
					<string>XMS</string>
					<string>XSM</string>
					<string>WLF</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VGMSTREAM File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.vgmstream</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>AAAP</string>
					<string>AAX</string>
					<string>ACM</string>
					<string>ADX</string>
					<string>ADP</string>
					<string>ADPCM</string>
					<string>AFC</string>
					<string>AGSC</string>
					<string>AHX</string>
					<string>AIX</string>
					<string>AIFC</string>
					<string>AIFF</string>
					<string>AMTS</string>
					<string>ASS</string>
					<string>ASF</string>
					<string>ASR</string>
					<string>AST</string>
					<string>AUS</string>
					<string>BAF</string>
					<string>BAR</string>
					<string>BG00</string>
					<string>BAKA</string>
					<string>BMDX</string>
					<string>BGW</string>
					<string>BNS</string>
					<string>BRSTM</string>
					<string>CAF</string>
					<string>CAPDSP</string>
					<string>CCC</string>
					<string>CFN</string>
					<string>CNK</string>
					<string>BCWAV</string>
					<string>DE2</string>
					<string>DSP</string>
					<string>DXH</string>
					<string>DVI</string>
					<string>EAM</string>
					<string>EMFF</string>
					<string>ENTH</string>
					<string>EXST</string>
					<string>FAG</string>
					<string>FILP</string>
					<string>FSB</string>
					<string>GCA</string>
					<string>GCM</string>
					<string>GCSW</string>
					<string>GCW</string>
					<string>GENH</string>
					<string>GMS</string>
					<string>GSB</string>
					<string>HGC1</string>
					<string>HIS</string>
					<string>HPS</string>
					<string>HWAS</string>
					<string>IDSP</string>
					<string>IKM</string>
					<string>IDVI</string>
					<string>IVAUD</string>
					<string>ILD</string>
					<string>INT</string>
					<string>ISD</string>
					<string>IVB</string>
					<string>JOE</string>
					<string>KCES</string>
					<string>KCEY</string>
					<string>KHV</string>
					<string>KRAW</string>
					<string>LEG</string>
					<string>LSF</string>
					<string>LOGG</string>
					<string>MATX</string>
					<string>MCG</string>
					<string>MIB</string>
					<string>MIHB</string>
					<string>MIC</string>
					<string>MPDSP</string>
					<string>MSA</string>
					<string>MSF</string>
					<string>MSS</string>
					<string>MSVP</string>
					<string>MUSC</string>
					<string>MUSX</string>
					<string>MWV</string>
					<string>MYSPD</string>
					<string>NPSF</string>
					<string>NWA</string>
					<string>OGG</string>
					<string>PDT</string>
					<string>P3D</string>
					<string>PNB</string>
					<string>PSH</string>
					<string>PSW</string>
					<string>RAW</string>
					<string>RIFF</string>
					<string>RKV</string>
					<string>RND</string>
					<string>RRDS</string>
					<string>RSD</string>
					<string>RSF</string>
					<string>RSTM</string>
					<string>RWS</string>
					<string>RWAR</string>
					<string>RWAV</string>
					<string>RWSD</string>
					<string>RXW</string>
					<string>RWX</string>
					<string>SAB</string>
					<string>SAD</string>
					<string>SAP</string>
					<string>SC</string>
					<string>SCD</string>
					<string>SD9</string>
					<string>SEG</string>
					<string>SFS</string>
					<string>SL3</string>
					<string>SPM</string>
					<string>SPW</string>
					<string>SPS</string>
					<string>SS2</string>
					<string>SSM</string>
					<string>STMA</string>
					<string>STR</string>
					<string>STS</string>
					<string>STRM</string>
					<string>STER</string>
					<string>STX</string>
					<string>STS</string>
					<string>SVAG</string>
					<string>SVS</string>
					<string>SWAV</string>
					<string>TEC</string>
					<string>THP</string>
					<string>TYDSP</string>
					<string>VJDSP</string>
					<string>NDP</string>
					<string>UM3</string>
					<string>VAS</string>
					<string>VAG</string>
					<string>VIG</string>
					<string>VOI</string>
					<string>VPK</string>
					<string>VSF</string>
					<string>WAA</string>
					<string>WAM</string>
					<string>WAVM</string>
					<string>WB</string>
					<string>WP2</string>
					<string>WSI</string>
					<string>WVS</string>
					<string>XMU</string>
					<string>XA</string>
					<string>XA2</string>
					<string>XSS</string>
					<string>XWB</string>
					<string>WVAS</string>
					<string>WWAV</string>
					<string>YMF</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XSF File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.xsf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>psf</string>
					<string>minipsf</string>
					<string>psf2</string>
					<string>minipsf2</string>
					<string>spu</string>
					<string>minispu</string>
					<string>dsf</string>
					<string>minidsf</string>
					<string>qsf</string>
					<string>miniqsf</string>
					<string>ssf</string>
					<string>minissf</string>
					<string>gsf</string>
					<string>minigsf</string>
					<string>2sf</string>
					<string>mini2sf</string>
					<string>ncsf</string>
					<string>minincsf</string>
					<string>snsf</string>
					<string>minisnsf</string>
					<string>usf</string>
					<string>miniusf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MIDI File</string>
			<key>UTTypeIdentifier</key>
			<string>com.yoyofr.modizer.midi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mid</string>
					<string>midi</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
