*.ipch
*.opensdf
*.sdf
*.suo
*.user
*.bsc
*.iml
Winamp/Plugins/vis_milk2.*
Debug/
Release/
src/vis_milk2/Config/
*.xcuserstate
xcuserdata
DerivedData
xcshareddata
.vs/
*.db
CMakeFiles
CMakeCache.txt
.gradle
.idea
local.properties
src/vis_milk2/imgui.ini
.cxx
server/trace_data
node_modules
server/upload
server/appdata
build
external/ovr_sdk_mobile_*
